In [61]:
import tensorflow as tf
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
import pickle
from sklearn.model_selection import train_test_split

In [62]:
df = pd.read_csv('Churn_Modelling.csv')

In [63]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [64]:
df=df.iloc[:, 3:]

In [ ]:
gender_encoder = LabelEncoder()
df["Gender"]=gender_encoder.fit_transform(df["Gender"])

In [66]:
df["Gender"].head()

0    0
1    0
2    0
3    0
4    0
Name: Gender, dtype: int32

In [67]:
geo_onehot_encoder = OneHotEncoder()
onehot_encoded = geo_onehot_encoder.fit_transform(df["Geography"].values.reshape(-1,1)).toarray()
geo_df = pd.DataFrame(onehot_encoded, columns = ["France", "Germany", "Spain"])
df = pd.concat([df, geo_df], axis=1)

In [68]:
df.drop("Geography", axis=1, inplace=True)

In [69]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [70]:
X = df.drop("EstimatedSalary", axis=1)
Y = df["EstimatedSalary"]

In [71]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0

In [72]:
Y.head()

0    101348.88
1    112542.58
2    113931.57
3     93826.63
4     79084.10
Name: EstimatedSalary, dtype: float64

In [73]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [74]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [75]:
with open("r_label_encoder_gender.pkl", "wb") as file:
    pickle.dump(gender_encoder, file)
with open("r_onehot_encoder_geo.pkl", "wb") as file:
    pickle.dump(geo_onehot_encoder, file)
with open("r_scaler.pkl", "wb") as file:
    pickle.dump(scaler, file)

## ANN Regression

In [76]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input

In [77]:
## Build the model
model = Sequential([
    Input(shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1)
])

## Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [78]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [79]:
## train the model
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

### Set up tensorboard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [80]:
## Set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=3, restore_best_weights=True)

In [81]:
model.fit(X_train, Y_train, validation_data=(X_test, Y_test), epochs=100, callbacks=[tensorboard_callback, early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100472.1406 - mae: 100472.1406 - val_loss: 98534.5938 - val_mae: 98534.5938
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 100506.1953 - mae: 100506.1953 - val_loss: 97192.5234 - val_mae: 97192.5234
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97763.4297 - mae: 97763.4297 - val_loss: 93770.1953 - val_mae: 93770.1953
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 93185.0391 - mae: 93185.0391 - val_loss: 88038.3359 - val_mae: 88038.3359
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 88305.2656 - mae: 88305.2656 - val_loss: 80472.6016 - val_mae: 80472.6016
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 79276.5078 - mae: 79276.5078 - val_loss: 72086.6406 - val_mae: 72086.6406
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 71580.0938 - mae: 71580.0938 - val_loss: 64490.7852 - val_mae: 64490.7852
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 63783.3867 - mae: 63783.3867 - val_loss: 58385.5781 - val_mae: 58385.5781
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 57940.7383 - mae: 57940.7383 - val_loss: 54455.7891 - val_mae: 54455.7891
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 54241.7070 - mae: 54241.7070 - val_loss: 52375.8672 - val_mae: 52375.8672
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51720.0898 - mae: 51720.0898 - val_loss: 51547.4375 - val_mae: 51547.4375
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50893.9023 - mae: 50893.9023 - val_loss: 51274.7734 - val_mae: 51274.7734
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50019.6445 - mae: 50019.6445 - val_loss: 51163.3242 - val_mae: 51163.3242
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50564.2930 - mae: 50564.2930 - val_loss: 51092.9648 - val_mae: 51092.9648
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50126.0312 - mae: 50126.0312 - val_loss: 51038.5977 - val_mae: 51038.5977
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50257.0234 - mae: 50257.0234 - val_loss: 50981.5625 - val_mae: 50981.5625
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50553.4062 - mae: 50553.4062 - val_loss: 50932.7852 - val_mae: 50932.7852
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49908.3594 - mae: 49908.3594 - val_loss: 50891.4766 - val_mae: 50891.4766
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50349.2617 - mae: 50349.2617 - val_loss: 50843.1484 - val_mae: 50843.1484
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49719.9141 - mae: 49719.9141 - val_loss: 50800.2930 - val_mae: 50800.2930
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49625.5625 - mae: 49625.5625 - val_loss: 50772.9688 - val_mae: 50772.9688
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50032.9102 - mae: 50032.9102 - val_loss: 50733.5547 - val_mae: 50733.5547
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49847.0352 - mae: 49847.0352 - val_loss: 50702.8203 - val_mae: 50702.8203
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49553.8008 - mae: 49553.8008 - val_loss: 50673.0352 - val_mae: 50673.0352
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49845.4492 - mae: 49845.4492 - val_loss: 50656.5898 - val_mae: 50656.5898
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50088.8945 - mae: 50088.8945 - val_loss: 50638.7891 - val_mae: 50638.7891
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50490.1836 - mae: 50490.1836 - val_loss: 50612.3906 - val_mae: 50612.3906
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49501.2773 - mae: 49501.2773 - val_loss: 50591.8750 - val_mae: 50591.8750
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50012.2461 - mae: 50012.2461 - val_loss: 50568.5898 - val_mae: 50568.5898
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50163.7227 - mae: 50163.7227 - val_loss: 50541.3516 - val_mae: 50541.3516
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50067.2930 - mae: 50067.2930 - val_loss: 50530.3516 - val_mae: 50530.3516
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49959.5273 - mae: 49959.5273 - val_loss: 50514.7109 - val_mae: 50514.7109
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49681.8281 - mae: 49681.8281 - val_loss: 50500.3867 - val_mae: 50500.3867
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49602.3438 - mae: 49602.3438 - val_loss: 50494.1445 - val_mae: 50494.1445
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49851.1680 - mae: 49851.1680 - val_loss: 50473.2383 - val_mae: 50473.2383
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49388.3125 - mae: 49388.3125 - val_loss: 50475.7891 - val_mae: 50475.7891
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49605.8594 - mae: 49605.8594 - val_loss: 50462.1328 - val_mae: 50462.1328
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49651.5625 - mae: 49651.5625 - val_loss: 50448.6133 - val_mae: 50448.6133
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49752.0078 - mae: 49752.0078 - val_loss: 50446.1133 - val_mae: 50446.1133
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50099.2266 - mae: 50099.2266 - val_loss: 50439.4492 - val_mae: 50439.4492
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49672.6641 - mae: 49672.6641 - val_loss: 50435.0508 - val_mae: 50435.0508
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49652.5664 - mae: 49652.5664 - val_loss: 50426.9648 - val_mae: 50426.9648
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49788.0508 - mae: 49788.0508 - val_loss: 50416.3477 - val_mae: 50416.3477
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49537.1836 - mae: 49537.1836 - val_loss: 50418.3242 - val_mae: 50418.3242
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49201.9531 - mae: 49201.9531 - val_loss: 50420.8711 - val_mae: 50420.8711
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49769.7930 - mae: 49769.7930 - val_loss: 50415.9570 - val_mae: 50415.9570
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49579.4023 - mae: 49579.4023 - val_loss: 50411.5430 - val_mae: 50411.5430
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49170.6406 - mae: 49170.6406 - val_loss: 50401.3828 - val_mae: 50401.3828
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49497.0117 - mae: 49497.0117 - val_loss: 50399.0703 - val_mae: 50399.0703
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49295.0508 - mae: 49295.0508 - val_loss: 50395.1602 - val_mae: 50395.1602
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50038.6602 - mae: 50038.6602 - val_loss: 50390.5781 - val_mae: 50390.5781
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49666.7773 - mae: 49666.7773 - val_loss: 50385.3516 - val_mae: 50385.3516
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49191.0547 - mae: 49191.0547 - val_loss: 50381.5781 - val_mae: 50381.5781
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49597.4805 - mae: 49597.4805 - val_loss: 50386.0039 - val_mae: 50386.0039
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48775.5586 - mae: 48775.5586 - val_loss: 50378.4102 - val_mae: 50378.4102
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49152.6523 - mae: 49152.6523 - val_loss: 50377.0195 - val_mae: 50377.0195
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49953.0352 - mae: 49953.0352 - val_loss: 50374.5703 - val_mae: 50374.5703
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49935.8477 - mae: 49935.8477 - val_loss: 50375.6172 - val_mae: 50375.6172
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49405.1836 - mae: 49405.1836 - val_loss: 50371.8047 - val_mae: 50371.8047
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49921.6758 - mae: 49921.6758 - val_loss: 50379.2656 - val_mae: 50379.2656
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49814.9336 - mae: 49814.9336 - val_loss: 50374.6680 - val_mae: 50374.6680
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49273.8516 - mae: 49273.8516 - val_loss: 50378.0508 - val_mae: 50378.0508

In [82]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [83]:
%tensorboard --logdir logs/fit --port=6007

Reusing TensorBoard on port 6007 (pid 5400), started 0:10:54 ago. (Use '!kill 5400' to kill it.)

In [84]:
!kill 36364

'kill' is not recognized as an internal or external command,
operable program or batch file.

In [85]:
## Evaluate the model on test data
test_loss, test_mae = model.evaluate(X_test, Y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51175.9570 - mae: 51175.9570

In [86]:
print(f"Test loss: {test_loss}")
print(f"Test MAE: {test_mae}")

Test loss: 50371.8046875
Test MAE: 50371.8046875

In [87]:
model.save("r_model.keras")

In [88]:
model.predict(X_test[:10])

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step

array([[ 85251.35 ],
       [ 92356.55 ],
       [104489.66 ],
       [ 95204.43 ],
       [108627.61 ],
       [ 95276.016],
       [111888.28 ],
       [104443.25 ],
       [ 99101.72 ],
       [ 98465.89 ]], dtype=float32)

In [89]:
Y_test[:10]

6252     41788.37
4684    146379.30
1731     58561.31
4742    170679.74
4521    114669.79
6340    149418.41
576      75685.97
5202     70529.00
6363     16618.76
439     164104.74
Name: EstimatedSalary, dtype: float64